.user-card
  background-color: #f9f9f9
  box-shadow: 1px 1px 0 1px #e8e8e8
  padding: 40px

  h1 a
    color: #3a3a3a

  .user-row
    display: flex
    align-items: center
    margin-bottom: 20px

@media only screen and (max-width: 600px)
  .img-container
    padding-right: 0px
    padding-bottom: 20px

  .user-card
    .user-row
      flex-direction: column

.user-card h1
  font-family: $primary-font
  font-weight: bolder
  font-size: 2.5em
  color: $primary-color

.img-container
  padding-right: 20px

  img
    height: 200px !important
    width: 200px !important
    border-radius: 10px

.user-card p
  color: #737373  

.card

.small
  text-align: right

  small 
    font-size: 10px

