---
layout: default
---
<div class="article">
  <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/posts" itemprop="url" class='breadcrumb'>
      ← All <span itemprop="title">Posts</span>
    </a>
  </div>
  <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="article-title">
    <a href='{{page.url}}' itemprop="url" title='{{page.title}}'>
      <span itemprop="title">{{ page.title }}</span>
    </a>
  </div>
  <p class="meta">
    &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    &nbsp;<i class="fa fa-tag"></i> {{ page.tag }}
  </p>
  <hr />
  <div class="post">
    {{ content }}
  </div>
</div>
{% include pager.html %}

<div style="text-align:right;margin-top: 100px;">
  🍄
</div>